div.nav-links {
    float: right;
    padding-top: 10px;
}
a.footnote {
    vertical-align: super;
    font-size: .8em;
}
div.footnotes {
    margin-top: 40px;
    font-size: .8em;
}
div.nav-links ul {
    list-style-type: none;
}

div.nav-links li {
    padding: 0px;
    margin: 2px;
}

div.nav-links a {
    display: inline-block;
    background: #eee;
    padding: 0px 10px 0px 10px;
    text-align: center;
    width: 100%;
}

div.nav-links a:hover {
    text-decoration: none;
    background: lightgray;
}

#alchemyeartrainingbrusingtheprogram {
    margin-top: 0px;
}

#keyboardshortcuts {
    text-align: center;
}

#keyboardshortcuts+table {
    width: 65%;
    margin: auto;
}
audio {
    margin-bottom: 8px;
}
@media screen and (max-width: 800px) {
    body, .content-wrapper {
	font-size: 18px;
	padding-left: 3px;
	padding-right: 3px;
    }
    .masthead {
	padding-left: 0;
	padding-right: 0;
	margin-left: 0;
	margin-right: 0;
	width: 100%;
    }
    .markdown-body h1:first-of-type {
	margin-top: 2px;
	padding-top: 0;
    }
    div.nav-links {
	float: none;
	margin: auto;
	background: #eee;
	padding: 0;
    }
    div.nav-links ul {
	width: 100%;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
    }
    div.nav-links li, div.nav-links a {
	padding-top: 0;
	padding-bottom: 0;
	margin: 0;
	display: inline-block;
    }
    div.nav-links a {
	padding-left: 0.5em;
	border-right: thin solid lightgray
    }

}