body {
    background: #eee8d5;
    font-size: 110%;
    margin: 0px;
    padding: 0;
    margin-bottom: 0px;
    line-height: 1.3;
}

#content {
    background: #fdf6e3;
    margin-top: 0px;
    margin-left: 12%; margin-right: 12%;
    padding-top: 1px;
    padding-left: 50px;
    padding-right: 50px;
}

span.section-number-2, span.section-number-3, span.section-number-4 {
    display: inline-block;
    width: 0px;
    visibility: hidden;
}

ul {
    font-family: "Franklin Gothic", Helvetica, Arial, sans-serif;
    text-align: left;
}

#text-table-of-contents {
    margin-left: auto;
    margin-right: auto;
}

h1, h2 { text-align: center; }

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    font-family: "Franklin Gothic", Helvetica, Arial, sans-serif;
}


		
p {
    text-align: justify;
    text-indent: 50px;
    font-size: 1.1em;
    font-family: Helvetica, "Palatino", "Garamond", "Georgia", serif;
/*    line-height: 1.3;*/
    margin: 20px;
}
	
pre {
    font-size: 1.2em;
}


#postamble { 
    text-align: center; 
    font-size: .8em; 
}

p.date, p.author, p.creator {
    display: inline;
}
